*{
  font-family: 'Times New Roman', Times, serif;

}

.navbar-style{
  background-color: rgb(251, 222, 187)
}
.logo-style{
  width: 60px;
  height: 60px;
}
.logo_name{
  margin-left: 3.5rem;
  margin-top: -1.5rem;
  font-size: small;
}

.nav-style{
  color: black;
  font-size: large;
}

.slide-img{
  height: 30rem;
}

main{
  min-height: 75vh;
}

footer{
  background-color: rgb(251, 222, 187);
  color: black;
  /* font-size: large; */
}

.form-style{
  font-size: large;
}

.h6-style{
  font-size: small;
  margin-left: 4rem;
}

.p-style{
  text-align: justify;
}


.th-style{
  text-align:center;
}